.sidebar {
    position: absolute;
    right: 1px;
}

body {
    background-color: floralwhite;
}

.show-img {
    width: 180px;
    height: 220px;
    min-width: 80px;
    padding: 5px;
    background-color: #4D6676;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .5);
}

.page-header {
    font-family: serif;
    font-weight: bolder;
    margin-left: 1%;
    color: navy;
}

.col-md-5 {
    padding-right: 0;
}

.show-info {
    padding: 0;
    margin-left: 0;
    margin-right: 3px;
}

article {
    margin-bottom: 2%;
    margin-right: 0;
    margin-left: 1%;
    margin-top: 1%;
    background-color: cadetblue;
    display: flex;
    padding: 1%;
    padding-left: 2px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .5);
}

col-sm-5 {
    padding: 0;
}

article img {
    display: inline;
}

.show-title {
    font-size: 1.7em;
    text-align: center;
    color: blanchedalmond;
}

.genre-year {
    font-size: 1.1em;
    font-weight: bold;
}

.rating-stars {
    display: flex;
    padding-bottom: 5px;
}

.compare {
    font-weight: 600;
    font-size: 1.2em;
    padding: 5%;
    margin-bottom: 0;
    margin-top: 4%;
    position: sticky;
    color: wheat;
}

a.compare:hover {
    color: antiquewhite;
    text-decoration: none;
}

.login-set {
    width: 320px;
}

.rating-stars img {
    width: 16%;
    height: 16%;
    margin: 0;
    padding-bottom: 15%;
    min-width: 15px;
    max-width: 35px;
}

.marketing {
    margin-top: 25%;
    font-size: 1.3em;
    text-decoration: underline;
}

.marketing-name {
    color: beige;
    font-size: 1.6em;
    font-family: cursive;
    font-weight: bolder;
}

.destaque {
    color: red;
    font-family: fantasy;
    font-size: 1.5em;
}

h1 a {
    text-decoration: none;
    color: #333;
}
h1 a:hover{
    text-decoration: none;
    color: #4D4D4D;
}