.row{
    margin-right: 0px;
    margin-left: 0px;
}

.container-fluid{
    padding-right: 0px;
}

.col-sm-9{
    padding-right: 0px;
    padding-left: 0px;
}

.form-control {
    display: inline;
    width: 40%;
}

.searchBox {
    height: 50px;
    padding-top: 1%;
    text-align: center;
}

.minSize {
    min-width: 80px;
}

.form-group .form-control {
    width: 25%;
}

.btn-primary {
    margin-top: 10px;
}

.centralize {
    text-align: center;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-inverse {
    /*background-color: #222;*/
    
    background-color: #4D6676;
    border-color: #6EBCD2;
    /*border-color: #080808;*/
}

.navbar-inverse .navbar-brand {
    /*color: #9d9d9d;*/
    
    background-color: #31859D;
    color: #D8CA24;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #D8CA24;
    background-color: #363F4C;
}

li.active,
{
    color: #D8CA24;
    cursor: default;
    background-color: #363F4C;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    /* color: #9d9d9d; */
    
    color: #E1F2CE;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #D8CA24;
    background-color: #363F4C;
    font-weight: bold;
    /*color: #fff;
  background-color: transparent;*/
}
/*
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
*/

header {
    background-color: rgba(95, 158, 160, 0.1);
}

.sidebar {
    background-color: #eaf2f5;
}

html,
body,
.container-fluid,
.row-fluid,
.sidebar {
    height: 100%;
}