.form-control {
    display: inline;
    width: 40%;
}

.searchBox {
    height: 70px;
    padding-top: 1%;
    text-align: center;
}

.minSize {
    min-width: 80px;
    /*text-align: center;*/
}

.navbar-brand {
    background-color: black;
}

.navbar-inverse{
    background-color: #235865;
}